@media only screen and (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    *{
        margin: 0;
        padding: 0;
        /* background: #333;
        color: #fff; */
    }
    body{
        font-size: 16px;
        width: 100%;
        height: 100vh;
    }
    nav{
        display: none;
    }
    div.main{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .main .detls{
        text-align: center;
        width: 100%;
        height: 20vh;
    }
    .detls .name{
        font-size: 2rem;
        font-weight: 450;
    }
    .detls .skill{
        font-size: 1.5rem;
        font-weight: 300;
       
    }
    .avtar{
        width: 90%; 
        position: relative;
    }
    .avtar::after,.avtar::before{
        content: '';
        background-color: red;
        position: absolute;
        padding: 50px;
        border-radius:50%;
        z-index: 3;
        opacity: 0.5;
    
    }
    .avtar::after{
        top: 100%;
        left: 10px;
        background-image: linear-gradient(to left, purple, skyblue);
    }
    .avtar::before{
        background-image: linear-gradient(to right, purple, skyblue);
        left: 70%;
        top:-100px
    }
    .avtar img{
        border-radius: 100px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%; 
    }
    .about{
        margin: 24px;
    }
    .abt-head{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    .abt-head span{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }
    details > summary{
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    details > p{
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }
    details summary:hover{
        color: rgb(158, 153, 153);
    }
    .name1{
        color: #111;
        text-decoration: underline;
    }
    .name1:hover{
        color: blue;
    }
    .cont-head{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    .cont-head span{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }
    label{
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }
    input{
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }
    input:focus{
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }
    .cont-contant{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    form{
        padding: 20px;
        width: 90%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }
    
    form .submit{
        width: 100%;
        padding: 5px;
        border: none;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }
    .vision{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        border-radius: 8px;
        margin:16px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }
    .card:hover{
        transform: scale(1.1);
        margin: 16px;
        transition: .5s;
    
    }
    .card span{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 20px 10px;
    }
    .card img{
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }
    footer{
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }
}

@media only screen and (min-width:320px) and (max-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    * {
        margin: 0;
        padding: 0;
        /* background: #333;
            color: #fff; */
    }

    body {
        font-size: 16px;
        width: 100%;
        height: 100vh;
    }

    nav {
        display: none;
    }

    div.main {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main .detls {
        text-align: center;
        width: 100%;
    }

    .detls .name {
        font-size: 2rem;
        font-weight: 450;
    }

    .detls .skill {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .avtar {
        width: 90%;
        position: relative;
    }

    .avtar::after,
    .avtar::before {
        content: '';
        background-color: red;
        position: absolute;
        padding: 50px;
        border-radius: 50%;
        z-index: 3;
        opacity: 0.5;

    }

    .avtar::after {
        top: 100%;
        left: 10px;
        background-image: linear-gradient(to left, purple, skyblue);
    }

    .avtar::before {
        background-image: linear-gradient(to right, purple, skyblue);
        left: 70%;
        top: -100px
    }

    .avtar img {
        border-radius: 100px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%;
    }

    .about {
        margin: 24px;
    }

    .abt-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .abt-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    details>summary {
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    details>p {
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }

    details summary:hover {
        color: rgb(158, 153, 153);
    }

    .name1 {
        color: #111;
        text-decoration: underline;
    }

    .name1:hover {
        color: blue;
    }

    .cont-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .cont-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    label {
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }

    input:focus {
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }

    .cont-contant {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    form {
        padding: 20px;
        width: 90%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }

    form .submit {
        width: 100%;
        padding: 5px;
        border: none;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .vision {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        border-radius: 8px;
        margin: 16px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }

    .card:hover {
        transform: scale(1.1);
        margin: 16px;
        transition: .5s;

    }

    .card span {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }

    footer {
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }

}

@media only screen and (min-width:481px) and (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    *{
        margin: 0;
        padding: 0;
        /* background: #333;
        color: #fff; */
    }
    
    body{
        font-size: 16px;
        width: 100%;
        height: 100vh;
    }
    nav{
        display: none;
    }
    div.main{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .main .detls{
        text-align: center;
        width: 100%;
    }
    .detls .name{
        font-size: 3.5rem;
        font-weight: 450;
    }
    .detls .skill{
        font-size: 3rem;
        font-weight: 300;
    }
    .avtar{
        width: 70%;
        position: relative;
    }
    .avtar::after,.avtar::before{
        content: '';
        background-color: red;
        position: absolute;
        padding: 100px;
        border-radius:50%;
        z-index: -3;
        opacity: 0.5;
    
    }
    .avtar::after{
        top: 90%;
        left: -100px;
        background-image: linear-gradient(to left, purple, skyblue);
    }
    .avtar::before{
        background-image: linear-gradient(to right, purple, skyblue);
        left: 70%;
        top:-200px
    }
    .avtar img{
        border-radius: 100px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%; 
    }
    .about{
        margin: 24px;
    }
    .abt-head{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2.5rem;
    }
    .abt-head span{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }
    details > summary{
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    details > p{
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }
    details summary:hover{
        color: rgb(158, 153, 153);
    }
    .name1{
        color: #111;
        text-decoration: underline;
    }
    .name1:hover{
        color: blue;
    }
    .cont-head{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
    .cont-head span{
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }
    label{
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }
    input{
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }
    input:focus{
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }
    .cont-contant{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    form{
        padding: 20px;
        width: 90%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }
    
    form .submit{
        width: 100%;
        padding: 5px;
        border: none;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }
    .vision{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        border-radius: 8px;
        margin:16px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }
    .card:hover{
        transform: scale(1.1);
        margin: 16px;
        transition: .5s;
    
    }
    .card span{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin: 20px 10px;
    }
    .card img{
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }
    footer{
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }
}

@media only screen and (min-width:641px) and (max-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    * {
        margin: 0;
        padding: 0;
        /* background: #333;
        color: #fff; */
    }

    body {
        width: 100%;
        height: 100vh;
        font-size: 16px;
        /* background: black;
        color: #fff; */
    }

    nav {
        background-color: rgb(239, 33, 239);
        margin: 10px 0 0 0;
    }

    nav ul {
        display: flex;
    }

    nav li {
        padding: 16px 12px;
        list-style-type: none;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    div.main {
        width: 100%;
        height: 80vh;
        margin-top: -20px;
        background: transparent;
        display: flex;
    }

    .detls {
        width: 50%;
        display: grid;
        place-content: center;
    }

    .detls .name {
        font-size: 2rem;
        font-weight: 450;
        line-height: 2px;
    }

    .detls .skill {
        font-size: 2rem;
        font-weight: 300;
    }

    .avtar {
        width: 50%;
        position: relative;
    }

    .avtar::after,
    .avtar::before {
        content: '';
        background-color: red;
        position: absolute;
        padding: 50px;
        border-radius: 50%;
        z-index: 3;
        opacity: 0.5;

    }

    .avtar::after {
        top: 80%;
        left: 100px;
        background-image: linear-gradient(to left, purple, skyblue);
    }

    .avtar::before {
        background-image: linear-gradient(to right, purple, skyblue);
        left: 75%;
        top: 20px
    }

    .avtar img {
        border-radius: 30px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%;
    }

    .avtar {
        width: 50%;
        display: grid;
        place-content: center;
    }

    .abt-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .abt-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    details>summary {
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    details>p {
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }

    details summary:hover {
        color: rgb(158, 153, 153);
    }

    .name1 {
        color: #111;
        text-decoration: underline;
    }

    .name1:hover {
        color: blue;
    }

    .cont-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .cont-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    label {
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }

    input:focus {
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }

    .cont-contant {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    form {
        padding: 20px;
        width: 60%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }

    form .submit {
        width: 100%;
        padding: 5px;
        border: none;
        margin: 10px 0 0 0;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .vision {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
    }

    .card {
        width: 25%;
        border-radius: 8px;
        margin: 10px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }

    .card:hover {
        transform: scale(1.1);
        margin: 10px;
        transition: .5s;

    }

    .card span {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }

    footer {
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }
}

@media only screen and (min-width:320px) and (max-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    * {
        margin: 0;
        padding: 0;
        /* background: #333;
            color: #fff; */
    }

    body {
        font-size: 16px;
        width: 100%;
        height: 100vh;
    }

    nav {
        display: none;
    }

    div.main {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .main .detls {
        text-align: center;
        width: 100%;
    }

    .detls .name {
        font-size: 2rem;
        font-weight: 450;
    }

    .detls .skill {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .avtar {
        width: 90%;
        position: relative;
    }

    .avtar::after,
    .avtar::before {
        content: '';
        background-color: red;
        position: absolute;
        padding: 50px;
        border-radius: 50%;
        z-index: 3;
        opacity: 0.5;

    }

    .avtar::after {
        top: 100%;
        left: 10px;
        background-image: linear-gradient(to left, purple, skyblue);
    }

    .avtar::before {
        background-image: linear-gradient(to right, purple, skyblue);
        left: 70%;
        top: -100px
    }

    .avtar img {
        border-radius: 100px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%;
    }

    .about {
        margin: 24px;
    }

    .abt-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .abt-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    details>summary {
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    details>p {
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }

    details summary:hover {
        color: rgb(158, 153, 153);
    }

    .name1 {
        color: #111;
        text-decoration: underline;
    }

    .name1:hover {
        color: blue;
    }

    .cont-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .cont-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    label {
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }

    input:focus {
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }

    .cont-contant {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    form {
        padding: 20px;
        width: 90%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }

    form .submit {
        width: 100%;
        padding: 5px;
        border: none;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .vision {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        border-radius: 8px;
        margin: 16px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }

    .card:hover {
        transform: scale(1.1);
        margin: 16px;
        transition: .5s;

    }

    .card span {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }

    footer {
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }

}

@media only screen and (min-width:1025px) {
    /* hi-res laptops and desktops */
    * {
        margin: 0;
        padding: 0;
        /* background: #333;
        color: #fff; */
    }

    body {
        width: 100%;
        height: 100vh;
        font-size: 16px;
        /* background: black;
        color: #fff; */
    }

    nav {
        background-color: rgb(239, 33, 239);
        margin: 10px 0 0 0;
    }

    nav ul {
        display: flex;
    }

    nav li {
        padding: 16px 12px;
        list-style-type: none;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    div.main {
        width: 100%;
        height: 80vh;
        margin-top: -20px;
        background: transparent;
        display: flex;
    }

    .detls {
        width: 50%;
        display: grid;
        place-content: center;
    }

    .detls .name {
        font-size: 2rem;
        font-weight: 450;
        line-height: 2px;
    }

    .detls .skill {
        font-size: 2rem;
        font-weight: 300;
    }

    .avtar {
        width: 50%;
        position: relative;
    }

    .avtar::after,
    .avtar::before {
        content: '';
        background-color: red;
        position: absolute;
        padding: 50px;
        border-radius: 50%;
        z-index: 3;
        opacity: 0.5;

    }

    .avtar::after {
        top: 80%;
        left: 100px;
        background-image: linear-gradient(to left, purple, skyblue);
    }

    .avtar::before {
        background-image: linear-gradient(to right, purple, skyblue);
        left: 75%;
        top: 20px
    }

    .avtar img {
        border-radius: 30px 200px;
        box-shadow: 0 20px 40px rgba(153, 151, 151, 0.383);
        width: 100%;
    }

    .avtar {
        width: 50%;
        display: grid;
        place-content: center;
    }

    .abt-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .abt-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    details>summary {
        list-style: none;
        padding: 0 0 0 20px;
        font-size: 1.5rem;
        font-weight: 400;
    }

    details>p {
        list-style: none;
        padding: 10px 0 0 20px;
        font-size: 1.2rem;
    }

    details summary:hover {
        color: rgb(158, 153, 153);
    }

    .name1 {
        color: #111;
        text-decoration: underline;
    }

    .name1:hover {
        color: blue;
    }

    .cont-head {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }

    .cont-head span {
        display: grid;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        width: fit-content;
        border-bottom: 2px solid gray;
    }

    label {
        padding: 0 0 0 10px;
        font-size: 1.6rem;
        color: rgb(228, 21, 228);
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        border: none;
        border-bottom: 2px solid rgb(142, 137, 137);
        padding: 0 0 0 10px;
        background: transparent;
    }

    input:focus {
        border-bottom: 2px solid red;
        outline: none;
        color: rgb(24, 211, 24);
    }

    .cont-contant {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    form {
        padding: 20px;
        width: 60%;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
        border-radius: 4px;
    }

    form .submit {
        width: 100%;
        padding: 5px;
        border: none;
        margin: 10px 0 0 0;
        background: rgb(65, 199, 65);
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .vision {
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
    }

    .card {
        width: 25%;
        border-radius: 8px;
        margin: 10px;
        background: transparent;
        transform: scale(1);
        transition: .5s;
        box-shadow: 0 20px 30px rgba(128, 128, 128, 0.359);
    }

    .card:hover {
        transform: scale(1.1);
        margin: 10px;
        transition: .5s;

    }

    .card span {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        margin: 20px 10px;
    }

    .card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
        aspect-ratio: 3/2;
    }

    footer {
        width: 100%;
        height: 20vh;
        margin: 10px 0 0 0;
        padding: 20px;
        box-shadow: 20px 0px 30px rgba(128, 128, 128, 0.359);
    }
}